body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(176, 176, 221);
}
.container{
    position: relative; 
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 400px;
    background-color: rgb(107, 129, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.display{
    font-size: 50px;
    background-color: rgb(183, 101, 101);
    color: white;
    font-weight: bolder;
    width: 300px;
    text-align: center;
}

.btn1{
    position: absolute;
    width: 140px;
    height: 50px;
    top: 300px;
    left: 20px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 4px black;
}
.btn2{
    position: absolute;
    width: 140px;
    height: 50px;
    top: 300px;
    left: 180px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 4px black;
}
.btn3{
    position: absolute;
    width: 140px;
    height: 50px;
    top: 300px;
    left: 340px;
    background-color: rgb(65, 136, 160);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 4px black;
}